@use '../base/_typography.scss' as typography;
@use '../base/_color.scss' as color;

.shop-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 60%;
  height: 100vh;
  background-color: color.$bg-color;
}
.search-form{
  width: 100%;
  max-width: 740px;
  min-width: 300px;
}

.Banner{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Добавьте высоту для calc */
  min-height: 600px;
}
.Banner__img-ukulele
{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
  background-image: url("/src/assets/img-ukulele-bg.png");
  position: absolute;
  top: 170px;
  width: 560px;
  height: 500px;
  object-fit: cover;
  left: -19px;
  z-index: 1;
}
.Banner__img-guitar {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
  background-image: url("/src/assets/img-guitar-bg.png");
  position: absolute;
  top: 130px;
  width: 652px;
  height: 680px;
  object-fit: cover;
  right: -20px;
  z-index: 1;
}
.shop{
  z-index: 2;
  &-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
    &__title{
    color: color.$text-color-desc;
      font-weight: 500;
      z-index: 3;
  }
    &__subtitle{
      max-width: 740px;
      font-weight: 600;
      width: 100%;
      z-index: 3;
    }
  }
  &-navigation{
    width: 100%;
    z-index: 3;
  }
  &-assortment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 3;
  }
}
.assortment-title{
  font-weight: 500;
  color: color.$text-color-desc;
  z-index: 3;
}

.catalog-btn{
  min-width: 171px;
  max-width: 350px;
  width: 50%;
  z-index: 3;
}
.search-container{
  width: 100%;
  z-index: 3;
}
@media screen and (min-width: 1704px){
  .Banner__img-ukulele{
    top: 100px;
    width: 800px;
    height: 720px;
  }.Banner__img-guitar{
       top: 110px;
       width: 752px;
       height: 780px;
   }

}
@media screen and (min-width: 768px) and (max-width: 1440px){
  .Banner__img-ukulele{
    top: 180px;
    left: calc(100vw / 100 - 101px);
    width: 400px;
    height: 350px;
  }.Banner__img-guitar{
     top: 110px;
     width: 450px;
     height: 500px;
    right: -60px;
   }

}@media screen and  (max-width: 768px) {
  .Banner{
    height: 100vh;
  }
  .Banner__img-ukulele{
    bottom: 0px;
    left: -30px;
    top: unset;
    width: 300px;
    height: 250px;
}.Banner__img-guitar{
   top: 10px;
   width: 300px;
   height: 300px;
   right: -60px;
 }
}
