@use '../base/_color.scss' as color;
.catalog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column;
  max-width: 100%;
  @media screen and (max-width: 767px){
    padding: 20px;
  }
  &-filters{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

}
.catalog{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1185px;
  width: 90%;
  &-header{
    color: color.$secondary-color;
  }
  &-filters{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width: 768px) and (max-width: 1440px){
    max-width: 800px;
  }
    @media screen and (max-width: 767px){
      flex-direction: column;
      gap: 5px;
      align-items: start;
      .catalog-filters__search{
        width: 100%;
      }
    }

    &__search{
      width: 75%;
    }
    &__select{
      width: 20%;
    }
  }
}
.catalog-body{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  @media screen and (min-width: 814px) and (max-width: 1439px){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  @media screen and (max-width: 813px){
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
  }
}
.count-pages{
  display: flex;
  gap: 15px;
  &__number{
    font-size: 16px;
    padding: 10px;
    border: 1px solid color.$secondary-color;
    &:hover {
    background-color: color.$secondary-color;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }


    &--active {
      background-color: color.$secondary-color;
      color: color.$bg-color;
      transform: scale(1.1);
      box-shadow: 0 6px 15px rgba(color.$secondary-color, 0.3);

      &:hover {
        background-color: darken(color.$secondary-color, 10%);
        transform: scale(1.1) translateY(-2px);
      }
    }

    &:active {
      transform: scale(1);
      transition: all 0.1s ease;

      &.count-pages__number--active {
        transform: scale(1.05);
      }
    }
  }
}
.popular-brends{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  position: relative;
  &__header{
    font-size: 2rem;
  }
  &__content {
    display: flex;
    gap: 10px;
    animation: scroll linear 30s infinite;
    &::before{
      content: "";
      position: absolute;
      left: 0;
      background-color: #1F1F1F;
    }
    @keyframes scroll {
      from {
        transform: translatex(0);
      }
      to {
        transform: translateX(-150%);
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px){

}