@use '../base/_color.scss' as color;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact{
  display: flex;
  gap: 100px;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and  (max-width: 576px){
    gap: 50px;
    padding: 20px;

}
  @media screen and  (min-width: 577px) and (max-width: 1024px){
    gap:80px;
    padding: 65px;
  }

  &-flex{
    display: flex;
    align-items: center;
    max-width: 1185px;
    justify-content: center;
    gap: 1rem;
    @media screen and  (max-width: 1024px){
      flex-direction: column;
      gap: 20px;
    }
  }
  &-header{
    color: color.$secondary-color;
  }
  &-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-weight: 500;
    width: 60%;
    align-items: flex-start;
    @media screen and (max-width: 1024px){
      width: 100%;
      align-items: center;
      gap: 10px;
    }

    &__desc{
      font-size: 2rem;
      @media screen and (max-width: 576px){
        font-size: 1.5rem;
        text-align: center;
      }
      @media screen and (min-width: 576px) and (max-width: 1024px){
        font-size: 1.5rem;
        text-align: center;
      }
    }

  }
}
#map{
  width: 600px;
  -webkit-box-shadow: -1px 2px 11px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 2px 11px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 2px 11px -1px rgba(34, 60, 80, 0.2);
  height: 500px;
  border: none;
  @media screen and  (max-width: 768px){
    width: 100%;
    height: 250px;
  }
}