@use '../base/_common.scss' as common;
@use '../base/_color.scss' as color;

.footer-container{
  display: flex;
  padding: 50px;
  justify-content: center;
  background-color: color.$primary-color;
  @media screen and (min-width: 769px) and (max-width: 1440px) {
    padding: 20px ;
  }
  @media screen  and (max-width: 768px) {

    padding: 10px;
  }

}
.footer{
  max-width: 1185px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  @media screen  and (max-width: 700px) {
    flex-direction: column;
    width: 100%;
    padding: 10px;

  }
  &-content{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  address{
    font-style: normal;
  }
  &-header{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: color.$secondary-color;
    font-weight: 600;
    @media screen and (min-width: 700px) and (max-width: 1440px) {
      font-size: 16px;
    }@media screen  and (max-width: 700px) {
    font-size: 20px;
  }


  }
  &-flex{
    display: flex;
    height: auto;
    gap: 10px;
    @media screen  and (max-width: 700px) {
     flex-direction: column;
    }
  }
  &-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__desc{
      font-size: 1rem;
      color: color.$text-footer;
      font-weight: 500;
      @media screen and (min-width: 700px) and (max-width: 1440px) {
        font-size: 14px;
      }@media screen  and (max-width: 700px) {
      font-size: 18px;
    }

    }
  }

}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.address{
  width: 180px;
  @media screen  and (max-width: 768px) {
    width: 100%;
  }
}