@use '../base/_color.scss' as color;
@use '../base/_common.scss' as common;
.service-container {
  width: 100%;
  padding: 50px;
  display: flex;
  background-color: color.$primary-color;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  &__header{
    font-size: 3rem;
    width: 100%;
    text-align: left;
    color: color.$text-color-for-dark;


  }
  &__flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
.service-item{
  height: auto;
}
.service{
  width: 1185px;
  display: grid;
  margin-top: common.$padding-50;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
}
@media screen  and (max-width: 1024px) {
  .service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    width: 500px;
  }
  }
  @media screen and (min-width: 577px) and (max-width: 1023px) {
    .service {
      display: grid;
      margin-top: 30px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows:  171px 108px 199px 108px 205px 108px;
      gap: 8px;
      width: 500px;
    }
  }@media screen and (min-width: 481px) and (max-width: 576px) {
  .service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 205px 96px 199px 125px 275px 119px;
    gap: 8px;
    width: 320px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .service {
    width: 900px;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 205px 96px 193px 125px 275px 119px;
  }

}
  @media screen and (max-width: 1440px) {

    .service {
      //grid-template-columns: repeat(2, 1fr);
      //grid-template-rows: 156px 100px 169px 100px 191px 169px;
      //width: 900px;
    }
    .main-service {
      font-size: 1.125rem;
    }

  }
  @media screen and (max-width: 480px) {

    .service {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 198px 96px 193px 125px 275px 119px;
      gap: 8px;
      width: 320px;
      margin-top: 20px;
    }


  }
