@use '../base/_color.scss' as color;
@use '../base/_common.scss' as common;
.service-container {
  width: 100%;
  padding: 50px;
  display: flex;
  background-color: color.$primary-color;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  &__header{
    font-size: 3rem;
    width: 100%;
    text-align: left;
    color: color.$secondary-color;
    @media screen and (max-width:769px){
      font-size: 2.25rem;
    }

  }
  &__flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
.service-item{
  height: auto;
}
.service{
  width: 1185px;
  display: grid;
  margin-top: common.$padding-50;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);

  gap: 15px;
}
@media screen  and (max-width: 1024px){
.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  width: 500px;
}

}
@media screen and (max-width: 1440px) {

    .service {
      width: 900px;
    }
  .main-service{
    font-size: 1.125rem;
  }

}
@media screen and (max-width: 576px) {

  .service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 205px 148px 200px 178px 256px 200px;
    gap: 8px;
    width: 320px;
  }


}