
@use '../base/_color.scss' as color;

.svg_size{
  height: 28px;
  width: 28px;
}
.nav{
  background-color: color.$text-color-for-dark;
  padding: 4px 100px;
  //position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &-links{
      max-width: 430px;
      min-width: 400px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.25rem;
    }
    &-users{
      display: flex;
      justify-content: space-between;
      width: 206px;
      &-link{
        text-align: center;
        &__text{
          font-size: 0.75rem;
          margin: 0;
        }
      }
    }
  }
}
.responsive-burger {
  display: flex;
  align-items: center;
}

.desktop-menu {
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;

    li {
      a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        padding: 10px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;

        &:hover {
          background-color: #f0f0f0;
          color: #007bff;
        }
      }
    }
  }
}


.burger-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
  position: relative;

  span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 3px;
    transition: all 0.3s ease;
    transform-origin: left center;
    //
    //&:nth-child(1) {
    //  transform-origin: 0% 0%;
    //}
    //
    //&:nth-child(2) {
    //  transform-origin: 0% 50%;
    //}
    //
    //&:nth-child(3) {
    //  transform-origin: 0% 100%;
    //}
  }

  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(1px, -1px);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: scale(0);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(0, 2px);
      }
    }
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 80px 20px 20px;

  &.open {
    right: 0;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 15px;
      opacity: 1;


      a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        transition: all 0.3s ease;
        display: block;
        padding: 12px 15px;
        border-radius: 5px;

        &:hover {
          color: #007bff;
          background-color: #f8f9fa;
        }
      }
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}


@media (max-width: 1023px) {
  .nav{
    padding: 15px 15px;
  }
  .nav__navigation-users {
    display: none;
  }
  .nav__navigation-links{
    display: none;
  }

  .burger-btn {
    display: flex;
  }

  .mobile-menu {
    display: block;
  }

  .overlay {
    display: block;
  }
}



@media (max-width: 480px) {
  .mobile-menu {
    width: 100%;
    max-width: 100%;
  }
}
