@use '../../base/_common.scss' as common;
@use '../../base/_color.scss' as color;
.grid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: color.$primary-color;
}
.service
{
  display: flex;
  justify-content: center;
  align-items: center;

}
.guitar-service{
  width: 340px;
  //border-radius: 10px;
  background-color: color.$bg-color;
  position: relative;
  z-index: 2;

  &__count{
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
    color: color.$text-color-for-dark;
    font-weight: 800;
    background-image: url("/public/mediatrLI.png");
    top: -60px;
    left: -60px;
    width: 80px;
    height: 85px;
    z-index: 1;
  }
  &__text{
    padding: common.$padding-10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid #f50000;
    z-index: 3;
    background-color: color.$text-color-for-dark;
  }

}
