@use '../../base/_common.scss' as common;
@use '../../base/_color.scss' as color;
.popular-brends__block{
  width: 200px; // фиксированная ширина
  height: 150px; // фиксированная высота
  flex-shrink: 0;
  border-radius: 8px;
  @media screen and (max-width: 768px){
    width: 170px;
    height: 120px;
  }
}
.popular-brends__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}