@use '../../base/_common.scss' as common;
@use '../../base/_color.scss' as color;

.search-input{
  background-color: inherit;
  border-radius: 10px;
  font-size: 1.125rem;
  border: none;
  width: 98%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;;
}
input:focus{
  outline: none;
  border: none;
  background-color: inherit;
  box-shadow: none;
}
.search-input-container{
  padding: common.$padding-10;
  border: 1px solid #B2B2B2;
  border-radius: 10px;
  display: flex;
  background-color: color.$text-color-for-dark;
  justify-content: space-between;
  width: 100%;

  align-items: center;
}
.search-input:focus{
  border: none;
  background-color: inherit;
}
