@use './styles/base/_typography' as typography;
@use './styles/base/_color' as color;


html {
  padding: 0;
  margin: 0;
  background-color: color.$bg-color;
  font-weight: 400;
  width: 100%;
  font-size: typography.$font-size-base;
  font-family: typography.$font-family-base;
}
#root {
  font-synthesis: none;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
}
p{
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3rem; // 48px
  margin: 0;
}
h2{
  font-size: 1.5rem; // 24px
  margin: 0;
}
h3{
  font-size: 1.25rem;  // 20px
  margin: 0;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;

  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
//button:focus,
//button:focus-visible {
//  outline: 4px auto -webkit-focus-ring-color;
//}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html{
    font-size: 14px;
  }

}
@media screen and  (max-width: 768px) {

  html{
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px; /* для мобильных */
  }
}

