@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;